.hero-image{
	background-image: url(herobg.jpg), linear-gradient(#39828a, #010101);
	background-blend-mode: exclusion;
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;

/* The image used */
  	/* Used if the image is unavailable */

}